name: 'Test'

on: push

jobs:
  build:
    name: Build
    uses: ./.github/workflows/reusable-build.yml
  test:
    name: Test
    needs: build
    uses: ./.github/workflows/reusable-test.yml
  codecov:
    name: Upload coverage reports to Codecov
    uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
